*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  gap: 30px;
  align-items: flex-end;
  block-size: 534px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.search-form{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 28px;
  height: 100%;
}

.content__list {
  position: relative;
  overflow: auto;
  height: 298px;
  width: 402px;
  padding: 0 0 0 2px;
}

.content__list-item:not(:last-child)
{
  margin-bottom: 34px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  min-height: 103px;
}

.content__video-card-thumbnail {
  height: 103px;
  object-fit: contain;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px; 
  font-weight: normal;
  line-height: normal;
  margin-bottom: 5px;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  line-height: 71px;
  font-weight: bold;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 6px;
  line-height: 100%;
}

.content__video-card-description {
  font-size: 18px;
  font-weight: normal;
  line-height: 90%;
  color: inherit;
}

.search-form__fieldset {
  border: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__textfield {
  border: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background-color: transparent;
  color: white;
  font-family: Fira Sans Condensed, sans-serif;
  font-weight: normal;
  font-size: 18px;
  appearance: none;
  min-width: 225px;
  margin: 2px 0 0 0; 
}

.button {
  border: 1px solid white;
  background-color: transparent;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-weight: bold;
  height: 34px;
  cursor: pointer;
  color: white;
}

.search-form__submit-button
{
  width: 195px;
  align-self: end;
}

.more-button {
  width: 100%;
}

.content__card-link {
  text-decoration: none;
  color: white;
  display: block;
  width: 100%;
}

.search-form__textfield:focus {
  outline: none; 
  appearance: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
  outline-offset: 2px;
}

.search-form__label {
  display: flex;
  gap: 5px;
  cursor: pointer;
}

.search-form__pseudo-checkbox {
  display: flex;
  width: 19px;
  height: 19px;
  border: 1px solid white;
}

.search-form__checkbox[type='checkbox']:checked + .search-form__pseudo-checkbox {
  outline: 1px solid white;
  outline-offset: 2px;
  background-color: white;
  width: 15px;
  height: 15px;
  margin: 2px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: 2px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
}

.content__card-link:active {
  background-color: #545050;
}
